aider-chat==0.85.2
colorama==0.4.6
ConfigArgParse==1.7.1
GitPython==3.1.44
importlib_metadata==7.2.1
importlib_resources==6.5.2
Jinja2==3.1.6
MarkupSafe==3.0.2
prompt_toolkit==3.0.51
pyasn1_modules==0.4.2
pydantic_core==2.35.2
Pygments==2.19.2
PyYAML==6.0.2
subprocess.run==0.0.8
typing_extensions==4.14.0
